img {
    height: 350px;
    width: 400px;
    margin-bottom: 20px;
    border: 10px solid green;
    transition: all 1s;
    /*    transform-origin: bottom right;*/
}

.rotate img:hover {
    transform: rotate(-90deg);

}

.translate img:hover {
    transform: translate(300px, 100px);
}

.scale img:hover {
    transform: scale(1.2, 1.2);
    /*    transform-origin: center;*/
}

.animation img {
    animation-name: picture;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes picture {
    0%,
    100% {
        transform: scale (1);
    }
    50% {
        transform: scale(0.5);
    }
}
