.box{
    height: 200px;
    
}
.container{
    position: relative;
}
.orange{
    background-color: orange;
/*    position: relative;*/
    left: 30px;
    top: 20px;
    position: absolute;
    width: 100%;
}

.grey{
    background-color: grey;
}
/*pozycja fixed*/


#main-nav{
/*    position: fixed;*/
    position: sticky;
    background: blue;
    width: 100%;
    top:0;
    left:0;
    color: #fff;
}
