/*selektor uniwersalny*/
*{
    color:red;
}
/*selektor łączony bez spacji(bez spacji) łapie element o dwoch pdanych przez nas elementach*/
p.green{
    color:green;
}
/*pseudo elementy*/
p::before{
    content:"*";
    color:red;
}
p::after{
    content:"*";
    color:yellow;
}
a:hover {
    color: yellowgreen;
}
/*:focus aktywne pole formularza*/
input:focus{
    border: 3px solid blue;
}
/*
ul .list-item:first-child{
    color: grey;
}*/

ul .list-item:first-of-type{
    color:grey;
}

/*nth-of*/

/*
ul .list-item:nth-of-type(4) {
    color:blue;
}
*/
/*an + b - a: co ile b: do ktorego*/
/*
ul .list-item:nth-of-type(4n + 3) {
    color:blue;
}
*/

ul .list-item:nth-of-type(4n + 3) {
    color:blue;
}