body{
    margin: 0px;
}
* {
    color: #ffffff;
    font-size: 14px;
}

form {
    color: #ffffff;
    font-size: 14px;
    background-color: #213b50;
    width: 50%;
    padding: 15px;
}

label {
    display: block;
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 50%;
    display: block;
    background-color: #2b4a64;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

textarea {
    height: 80px;
}

label[for="message"] {

    margin-top: 20px;
}

input[type="submit"] {

    background-color: limegreen;
    border: 1px solid #2b4a64;
    padding: 10px;
    width: 20%;
    margin: 20px 20px 20px 0px;
    text-transform: uppercase;
}

input:focus, select:focus, textarea:focus {
    
    border: 1px solid #ffffff;
    background-color: #2b4a64; 
    border: none;
}
