* {
    box-sizing: border-box;
}
.box{
    width: 25%;
    height: 200px;
    float: left;
    border: 5px solid green;
    padding: 20px;
    
}

@media (max-width: 989px){
    .box {
        width: 50%;
    }
}