@media (min-width: 992px) and (max-width: 1064px){
    #main #main-info #main-info-links{
        margin-top: -3.2rem;
    }
}
@media (max-width: 991px){
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.2em;
    }
    #main #main-intro #my-name h1{
        font-size: 2em;
    }
    #main #main-info #main-info-about{
        padding: 0;
        
    }
    #main #main-info #main-info-skills{
        padding:0;
        margin: .5rem 1rem;
    }
    #main #main-info #main-info-about p{
        font-size: 1em;
        padding: 1rem;
        margin: 0;
    }
    #main #main-info #main-info-links {
        margin-top: 0;
        font-weight: 300;
        font-size: 1em;
    }
    #portfolio figure{
        max-height: 28vw;
        left: 1.5rem;
    }
    #portfolio figure .item-mask .item-mask-content{
        padding: .5rem;
    }

    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.3em;
        padding: .4rem;
    }
    #portfolio figure .item-mask .item-mask-content p{
        font-size: .9em;
        margin: .6em 0;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        font-size: 1.2em;
        margin-top: 1.2em;
    }
   
    
}

@media (max-width: 772px){
    #main #main-intro{
        margin: 4rem 1rem;
    }

    #main #main-info #main-info-about, #main #main-info #main-info-skills {
        margin: 0 .5rem;
        
    }
    #main #main-info #main-info-about p{
        padding: 1rem 0.3rem;
    }

    #main #main-info #main-info-skills h2{
        margin-top: 1rem;
    }
    #main #main-info #main-info-skills #main-info-skills-icons{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        padding: 0;
    
    }
    #main #main-info #main-info-skills #main-info-skills-icons figure{
        margin: 0 1.6rem;
        padding: .2rem;

    }
    #main #main-info #main-info-skills #main-info-skills-icons figure i{
        font-size: 2.3rem;
    }

    #main #main-info #main-info-links {
        margin-top: 1rem;
        font-weight: 300;
        font-size: .8em;
    }
    #portfolio{
        height: auto;
        padding: 1.5rem 3rem;
    }
   
    #portfolio figure{
        width: 65%;
        height: 32vw;
        margin-right: 0;
        left: 7rem;
    }
    #portfolio figure .portfolio-item{
        top:0;
        left:0;
    }
    #portfolio figure .item-mask .item-mask-content{
        padding: 1rem;
    }
    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.4em;
        padding: .3rem;
    }
    #portfolio figure .item-mask .item-mask-content h3:hover{
        transform: scale(1.05)
    }
    #portfolio figure .item-mask .item-mask-content p{
        margin: 1em 0;
        font-size: .8rem;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        margin-top: 1rem;
        font-size: 1.15em;
    }

}

@media(max-width: 640px){
    #main{
        height: auto;
        flex-direction: column;
        

    }
    #main #main-intro{
        margin: 4rem 0;
    }
    #main #main-intro, #main #main-info{
            width: 100%;
            min-height: 90vh;
    }
    #main #main-info #main-info-skills #main-info-skills-icons{
        margin-top: 1.5rem;
    }
    #main #main-info #main-info-links{
        margin-top: 4rem;
    }
    #portfolio figure{
        margin-left:2rem;
        margin-right:1rem;
        left: 1rem;
        width: 80%;
        height: 40vw;
    }

    #portfolio figure .portfolio-item{
        margin: 0 .5rem;
    }
    
       #portfolio figure .item-mask .item-mask-content{
        padding: .5rem;
    }
    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.1em;
        padding: .3rem;
    }
    #portfolio figure .item-mask .item-mask-content h3:hover{
        transform: scale(1.03)
    }
    #portfolio figure .item-mask .item-mask-content p{
        margin-top: 2em 0;
        font-size: .8rem;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        margin-top: .5rem;
        font-size: 1em;
    }
}

@media(max-width: 480px){
    #portfolio figure{
        width: 90%;
        height: 50vh;
        margin-left: 1rem;
        left:0;
    }
    #contact #contact-more-info .tel-email a p{
        font-size: .5rem;
    }

}