@media (min-width: 992px) and (max-width: 1064px){
    #portfolio figure{
        height: 26vw;
        width: 80%;
    }
    #portfolio figure .item-mask .item-mask-content{
        padding: .8rem;
    }

    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.3em;
        padding: .5rem;
    }
    #portfolio figure .item-mask .item-mask-content h3:hover{
        transform: scale(1.05)
    }
    #portfolio figure .item-mask .item-mask-content p{
        font-size: 1rem;
        margin: .7rem 0;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        font-size: 1.1rem;
        margin-top: .8rem;
    }
   
}
@media (max-width: 991px){
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.2em;
    }
    #main #main-intro{
        padding: 2rem;
    }
    #main #main-intro #my-name{
        padding: 0.5rem 4rem;
    }
    #main #main-intro #my-name h1{
        font-size: 1.8rem;
    }
    #main #main-info #main-info-about{
        padding: 0;
        
    }
    #main #main-info #main-info-skills{
        padding:0;
        margin: .5rem 1rem;
        justify-content: center;
        
    }
    #main #main-info #main-info-skills-icons{
        flex-wrap: wrap;
    }

    #main #main-info #main-info-about p{
        font-size: 1em;
        padding: 1rem;
        margin: 0;
    }
    
    #portfolio figure{
        width:88%;
        
    }
    
    /* #portfolio figure .item-mask .item-mask-content{
        padding: .8rem;
    }

    #portfolio figure .item-mask .item-mask-content h3{
        
        font-size: 1.2em;
        padding: .3rem;
        margin:0;
    }
   

    #portfolio figure .item-mask .item-mask-content p{
        font-size: .8em;
        margin: .5em 0;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        font-size: 1.2rem;
        margin-top: .6rem;
    }
    */
    
}
/* 
@media(max-width: 870px){
 
    #main #main-intro, #main #main-info{
      

    }
    #portfolio{
        height: auto;
    }

    #portfolio figure .item-mask-content{
        padding: 0.3rem;
    }
  

    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.1em;
        padding: .3rem;
        margin:0;
    }
    #portfolio figure .item-mask .item-mask-content h3:hover{
        transform: scale(1.03)
    }

    #portfolio figure .item-mask .item-mask-content p{
        font-size: .8rem;
        margin: .3rem 0;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        font-size: 1.05rem;
        margin-top: .4rem;
    }

} */

@media (max-width: 767px){
    #main{
        display: flex;
        flex-direction: column;
    }
    #main #main-intro{
        
        margin: 4rem 1rem;
    }
    #main #main-intro, #main #main-info{
        width: 100%;
    }

    #main #main-info .translate-y{
        transform: translate(-50%, 0);
        
    }

    #main #main-info #main-info-about, #main #main-info #main-info-skills {
        margin: 0 .5rem;
        
    }
    #main #main-info #main-info-about p{
        padding: 1rem 0.3rem;
    }

    #main #main-info #main-info-skills h2{
        margin-top: 1rem;
    }
    #main #main-info #main-info-skills #main-info-skills-icons{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        padding: 0;
    
    }
    #main #main-info #main-info-skills #main-info-skills-icons figure{
        margin: 0 1.6rem;
        padding: .2rem;

    }
    #main #main-info #main-info-skills #main-info-skills-icons figure i{
        font-size: 2.3rem;
    }

    #main #main-info #main-info-links {
      
        font-weight: 300;
        font-size: .8em;
    }
    #portfolio{
        height: auto;
        padding: 1.5rem 3rem;
    }
   
    #portfolio figure{
        width: 80%;
        height: 45vw;
        margin-right: 0;
     
    }
    /* #portfolio figure .portfolio-item{
        top:0;
        left:0;
    }
    #portfolio figure .item-mask .item-mask-content{
        padding: 1rem;
    }
    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.4em;
        padding: .3rem;
    }
   
    #portfolio figure .item-mask .item-mask-content p{
        margin: 1em 0;
        font-size: .8rem;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        margin-top: 1rem;
        font-size: 1.15em;
    } */

}

@media(max-width: 640px){
    #main{
        height: auto;
        flex-direction: column;
        

    }
    #main #main-intro{
        margin: 4rem 0;
    }
    #main #main-intro, #main #main-info{
            width: 100%;
            min-height: 90vh;
    }
    #main #main-info #main-info-skills #main-info-skills-icons{
        margin-top: 1.5rem;
    }
    #main #main-info #main-info-links{
        margin-top: 4rem;
    }
    #portfolio figure{
        margin-left:2rem;
        margin-right:1rem;
        left:0;
        width: 80%;
        height: 45vw;
    }

    /* #portfolio figure .portfolio-item{
        margin: 0 .5rem;
    }
    
       #portfolio figure .item-mask .item-mask-content{
        padding: 1rem;
    } */
    #portfolio figure .item-mask .item-mask-content h3{
        font-size: 1.3em;
        padding: .3rem;
    }
    #portfolio figure .item-mask .item-mask-content h3:hover{
        transform: scale(1.03)
    }
    #portfolio figure .item-mask .item-mask-content p{
        margin-top: .2rem;
        font-size: .8rem;
    }
    #portfolio figure .item-mask .item-mask-content h4{
        margin-top: .5rem;
        font-size: 1em;
    }
}

@media(max-width: 480px){
    #portfolio figure{
        width: 100%;
        
        margin-left: 1rem;
        left:0;
    }
    #portfolio figure .portfolio-item .item-mask .item-mask-content{
        padding: .5rem;
    }

    #portfolio figure .portfolio-item .item-mask .item-mask-content .tech{
        margin: .2rem;
    }
    #contact .pad-marg-0 .height-100{
        /* margin: -5px; */
        width: 100%;
        margin-left: 0;
    }
    #contact .background-white{
        padding: .5rem;
        width: 100%;

    }
    #contact .pad-marg-0{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    #contact .contact-more-info .tel-email .mail{
        font-size: 1rem;
    }
    #contact .contact-form input[type="submit"]{
        width: 25vw;
    }

}

@media(max-width: 350px){
    #portfolio figure{
        width: 100%;
       
        margin-left: 0;
    }
    #portfolio figure .portfolio-item .item-mask .item-mask-content h4{
        margin: .3rem auto;
    }
    #portfolio figure .portfolio-item .item-mask .item-mask-content p{
        font-size: .7rem;
        margin: .2rem auto;
    }
}