*{
    box-sizing: border-box;
}

body{
   
    margin: 0;
    padding: 0;
    
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    color: rgb(189, 27, 54);
    margin: 0;
    padding: 0;
    font-family:'PT Sans Narrow', sans-serif;
    }

h2 {
    font-size: 2em;
}

h3{
    font-size: 1.6em;
}

#main{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0, 0.6)), url(../img/yang-shuo-518962-unsplash\ —\ kopia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    display: flex;
}


#main-intro{
    width: 50%;
    margin: 4rem 2rem;
    padding: 0 2rem;
}

#main #main-intro #my-name{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    max-height: 20vh;
    padding: 0.5rem;
    line-height: 1.3;
    }

#main #main-intro #my-name h1{
    font-size: 2.5em;
    line-height: 1.3;
}

#main #main-intro figure{
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    height: 55vh;  
    margin: 2rem 0 0 0;
    padding: 3rem 0rem;
}

/* #main #main-intro figure img{
    /* min-height: 40vh;
   } */

#main #main-info{
    background-color: rgba(255, 255, 255, 0.7);
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 2rem 2rem;
    padding-bottom: 0;
    /* padding-top: .5rem; */
  
}
#main #main-info #main-info-about {
    margin: 1.7rem 1rem;
    padding: .5rem;
}

#main #main-info #main-info-skills{

    margin:1.5rem;
    margin-top: 0.5rem;
    padding: .5rem;
    

}

/* #main #main-info #main-info-about h2, #main-info-skills h2{
    position: relative;
    /* display: inline-block; */
    /* height: 100%;
} */
/* #main #main-info #main-info-about h2::before,
#main #main-info #main-info-skills h2::before{
    content:'';
    position: absolute;
    display: block;
    width: 15vw;
    height: 1px;
    background-color: rgb(189, 27, 54);
    left: 0;
    /* top: -.5rem;
    transform: translateX(50%); 
} */
#main #main-info #main-info-about p{
 
    font-size: 1.2em;
    font-weight: 600;
    
}
#main-info #main-info-skills{
    text-align: center;
}

#main-info #main-info-skills h2{
    text-align: left;
}

#main-info #main-info-skills #main-info-skills-icons{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

#main-info #main-info-skills #main-info-skills-icons figure{
    /* flex-basis:30%; */
    margin: 0 1.5rem;
    padding:0.3rem;
}

#main-info #main-info-skills #main-info-skills-icons figure i{
    font-size: 4vw;
    margin: 0.2em 0;   
    text-align: center;
    /* color: rgb(49, 49, 71); */
}
#main-info #main-info-skills #main-info-skills-icons figure figcaption {
    text-align: center;
    color: rgb(49, 49, 71);
    
}

#main #main-info #main-info-links{
    display: flex;
    justify-content: space-around;
    margin-top: -1.5rem;
}
#main #main-info #main-info-links p a{
    color:rgb(189, 27, 54);
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    flex-basis: 20%;
    padding: 0.5em;
    transition: all .4s;
}

#main #main-info #main-info-links p a:hover{
    color:white;
    background-color:rgb(189, 27, 54);
    font-weight: 300;

}

.animation{
    animation-name: appear;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    transform: scale(0);
    transform-origin: top right;
}
.animation-d{
    animation-delay: 200ms;
    transform-origin: top left;
}

@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1)
    }
}

/* portfolio */

#portfolio{
    background-color: #fff;
    height: 100vh;
}

#portfolio .portfolio-h2{
    margin: 1.8rem;
    padding: 1rem;
    

}
#portfolio figure {
    width:100%;
    margin-top: 3rem;
    
    /* -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000; */
}

#portfolio figure .my-shadow{

  -webkit-box-shadow: 0.5rem .5rem 0.5rem .1rem rgb(85, 85, 85, .7);  
  -moz-box-shadow:    0.5rem .5rem 0.5rem .1rem rgb(85, 85, 85, .7);  
   box-shadow:        0.5rem .5rem 0.5rem .1rem rgb(85, 85, 85, .7);
}

#portfolio figure .my-shadow img{
   width: 100%;
   
        

}